:host {
  ::ng-deep {
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;

      @media (min-width: 1400px) {
        grid-template-columns: repeat(4, 1fr);
      }

      @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 600px) {
        grid-template-columns: 1fr;
      }

      mat-card {
        width: auto;
        box-shadow: var(--box-shadow);

        mat-card-header {
          font-size: 2.4rem;
          font-weight: 500;
        }

        ul {
          list-style: none;
          padding: 0;

          li {
            padding: .5rem 0;

            &:hover {
              background-color: #f0f0f0;
              color: chocolate;
              font-weight: 600;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
