:host {
  ::ng-deep {
    .notes {
      align-items: flex-start;

      h1 {
        font-size: 3.2rem;
        margin-bottom: 16px;
      }
    }

    .outline-content {
      margin-left: 32px;
      width: 209px;
      position: sticky;
      top: 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

      .mdc-list {
        a.mdc-list-item {
          font-size: 2rem;
        }
      }
    }
  }
}
