:host {
  ::ng-deep {
    .layout-header {
      background-color: rgb(51, 51, 75);
      box-shadow: var(--box-shadow);
      flex-direction: row;

      .container {
        width: auto;
        flex: 1;
        align-items: center;;
      }

      .spacer {
        flex: 1 1 auto;
      }

      .brand {
        color: #fff;
        font-size: 2.6rem;
        text-decoration: none;
        // text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.7);

        // &:hover,
        // &:active {
        //   text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.9);
        // }
      }
    }

    .author {
      img {
        width: 80px;
        border-radius: 50%;
      }
    }
  }
}
