:host {
  ::ng-deep {
    display: block;

    .h2 {
      margin-bottom: 1rem;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      color: #333;
      background-color: var(--border-color);

      a {
        cursor: pointer;
        display: flex;
        align-items: center;

        &:hover {
          h1,
          h2 {
            text-decoration: underline;
          }
        }
      }
    }

    h1 {
      font-size: 4rem;
      font-weight: 600;
    }

    h1,
    h2 {
      display: inline;
      margin-bottom: 0;
    }

    .mat-icon {
      margin-left: 0.5rem;
      color: #999;
      font-size: 18px;
    }
  }
}
