:host {
  ::ng-deep {
    display: block;

    .h2 {
      margin-bottom: 1rem;
      padding: .5rem 1rem;
      border-radius: 5px;
      color: #333;
      background-color: var(--border-color);

      display: flex;
      align-items: center;

      .mat-icon {
        margin-left: .5rem;
        color: #999;
        font-size: 18px;
        display: none;
        cursor: pointer;
      }

      &:hover {
        .mat-icon {
          display: inline;
        }
      }
    }

    h1 {
      font-size: 4rem;
      font-weight: 600;
    }

    h1,
    h2 {
      display: inline;
      margin-bottom: 0;
    }

  }
}
