.w100 {
  width: 100%;
}
.w50 {
  width: 50%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.flex-direct-row {
  flex-direction: row;
}

.flex-direct-col {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.v-middle {
  vertical-align: middle;
}
