.no-m { margin: 0; }
.no-m-h { margin-left: 0; margin-right: 0; }
.no-m-v { margin-top: 0; margin-bottom: 0; }

.m { margin: 1rem; }
.m-top { margin-top: 1rem; }
.m-bottom { margin-bottom: 1rem; }
.m-left { margin-left: 1rem; }
.m-right { margin-right: 1rem; }
.m-h { margin: 0 1rem; }
.m-v { margin: 1rem 0; }

.m-s { margin: 0.5rem; }
.m-top-s { margin-top: 0.5rem; }
.m-bottom-s { margin-bottom: 0.5rem; }
.m-left-s { margin-left: 0.5rem; }
.m-right-s { margin-right: 0.5rem; }
.m-h-s { margin: 0 0.5rem; }
.m-v-s { margin: 0.5rem 0; }

.m-2x { margin: 2rem; }
.m-top-2x { margin-top: 2rem; }
.m-bottom-2x { margin-bottom: 2rem; }
.m-left-2x { margin-left: 2rem; }
.m-right-2x { margin-right: 2rem; }
.m-h-2x { margin: 0 2rem; }
.m-v-2x { margin: 2rem 0; }
