.p { padding: 1rem; }
.p-top { padding-top: 1rem; }
.p-bottom { padding-bottom: 1rem; }
.p-left { padding-left: 1rem; }
.p-right { padding-right: 1rem; }
.p-h { padding: 0 1rem; }
.p-v { padding: 1rem 0; }

.p-2x { padding: 2rem; }
.p-top-2x { padding-top: 2rem; }
.p-bottom-2x { padding-bottom: 2rem; }
.p-left-2x { padding-left: 2rem; }
.p-right-2x { padding-right: 2rem; }
.p-h-2x { padding: 0 2rem; }
.p-v-2x { padding: 2rem 0; }
