<mat-toolbar class="layout-header" color="primary">
  <mat-toolbar-row class="container">
    <a routerLink="/" class="brand">🚀 Research
      Space</a>
    <span class="example-spacer"></span>
    <ng-container *ngTemplateOutlet="signInButtonTemplate">
    </ng-container>
    <!-- <button mat-icon-button class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar-row>
</mat-toolbar>

<div class="layout-content">
  <router-outlet></router-outlet>
</div>

<ng-template #signInButtonTemplate>
  <ng-container *ngIf="isSignIn; else elseTemplate">
    <button mat-button (click)="onSignOutClick()">Sign
      Out</button>
  </ng-container>
  <ng-template #elseTemplate>
    <button mat-button routerLink="/auth/signIn">Sign
      In</button>
  </ng-template>
</ng-template>
