:host {
  ::ng-deep {
    display: block;
    width: 200px;

    h2 {
      margin-top: 2px;
      margin-bottom: 0;
      padding: .2rem 1rem;
      background-color: rgb(51, 51, 75);
      color: rgb(239, 222, 188);
      font-size: 2rem;
      display: flex;
      align-items: center;
    }

    h3 {
      margin-bottom: 0;
      padding: .5rem 1rem .5rem 2rem;
      font-size: 2rem;
      font-weight: 500;
    }

    .mdc-list {
      padding: 0;
      .mdc-list-item {
        padding-left: 3rem;
        height: 3.5rem;
      }
    }
  }
}
