$border: .55px solid silver;

:host {
  ::ng-deep {
    table {
      width: 100%;

      th {
        white-space: nowrap;
      }

      td,
      th {
        padding: 8px 16px;

        &.nowrap {
          white-space: nowrap;
          word-break: break-all;
        }
      }
    }
  }
}
