:host {
  ::ng-deep {
    .basic-font-size {
      font-size: 1.6rem;
      line-height: 1.8rem;
    }

    .large-font-size {
      font-size: 2rem;
      line-height: 2.2rem;
    }

    .theme-section {
      padding: 16px;
      color: var(--foreground-color);
      background-color: var(--background-color);
    }

    .light {
      --foreground-color: #333;
      --background-color: #fff;
    }

    .dark {
      --foreground-color: #fff;
      --background-color: #333;
    }

  }
}
